<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" id="btngetweb" data-target="#myModal">SELECT DATE &amp; TIME</button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="top: 53px;">
<div class="modal-dialog">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">×</button>
<h4 class="modal-title">SELECT DATE &amp; TIME</h4>
</div>
<div class="modal-body">
     <div id="showdatadinesh"></div>
<form>
<input type="radio" name="gender" value="tomorrow11am" required="" id="test"> Tomorrow 11AM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="gender" value="tomorrow08am" required="" id="test"> Tomorrow 08AM<br>
<a href="#myModal3" data-toggle="modal" data-dismiss="modal" id="btn1check" draggable="false">Next</a>
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="modal fade" id="myModal3" role="dialog" style="top: 53px;">
<div class="modal-dialog">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">×</button>
</div>
<div class="modal-body">
   
<form accept-charset="UTF-8" action="https://uv226.infusionsoft.com/app/form/process/35db098a6371dffe6d0f0be83767e042" class="infusion-form" id="inf_form_35db098a6371dffe6d0f0be83767e042" method="POST">
<input name="inf_form_xid" type="hidden" value="35db098a6371dffe6d0f0be83767e042">
<input name="inf_form_name" type="hidden" value="select date and time">
<input name="infusionsoft_version" type="hidden" value="1.70.0.52507">
<div class="infusion-field">
<label for="inf_custom_dateandtimero">dateandtimero</label>
<div class="infusion-radio">
<div class="options-container">
<span class="infusion-option">
<input id="inf_custom_dateandtimero_tomorrow11am" name="inf_custom_dateandtimero" type="radio" value="tomorrow11am">
<label for="inf_custom_dateandtimero_tomorrow11am">tomorrow11am</label>
</span>
<span class="infusion-option">
<input id="inf_custom_dateandtimero_tomorrow08am" name="inf_custom_dateandtimero" type="radio" value="tomorrow08am">
<label for="inf_custom_dateandtimero_tomorrow08am">tomorrow08am</label>
</span>
</div>
</div>
</div>
<div>
<div>&nbsp;</div>
</div>
<div class="infusion-field">
<label for="inf_field_FirstName">First Name *</label>
<input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name *" type="text">
</div>
<div class="infusion-field">
<label for="inf_field_Email">Email *</label>
<input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email *" type="text">
</div>
<div class="infusion-field">
<label for="inf_field_Phone1">Phone 1</label>
<input class="infusion-field-input" id="inf_field_Phone1" name="inf_field_Phone1" placeholder="Phone 1" type="text">
</div>
<div class="infusion-submit">
<button class="infusion-recaptcha" id="recaptcha_35db098a6371dffe6d0f0be83767e042" type="submit">Submit</button>
</div>
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>
<script>
jQuery(document).ready(function(){
jQuery('#btn1check').click(function() {
var selValue = jQuery('input[name=gender]:checked').val();
alert(selValue);
jQuery('p').html('<br/>Selected Radio Button Value is : <b>' + selValue + '</b>');
//var value = 5;
jQuery('input:radio[name="inf_custom_dateandtimero"][value='+selValue+']').attr('checked', true);
});
});
</script>